<h1>Using Webscraping to Extract Netflix Stock Data Example</h1>

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

In [4]:
data  = requests.get(url).text

In [5]:
soup = BeautifulSoup(data, 'html.parser')

In [6]:
print(soup.title)

<title>Netflix, Inc. (NFLX) Stock Historical Prices &amp; Data - Yahoo Finance</title>

In [7]:
print(soup.td)

<td class="Py(10px) Ta(start) Pend(10px)" data-reactid="52"><span data-reactid="53">Jun 01, 2021</span></td>

In [8]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

In [10]:
# First isolate the body of the table which contains all the information
# Then loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    # Finally append the data of each row to the table
    netflix_data = pd.concat([netflix_data,pd.DataFrame({"Date":[date], "Open":[Open], "High":[high], "Low":[low], "Close":[close], "Adj Close":[adj_close], "Volume":[volume]})], ignore_index=True)

In [11]:
netflix_data

             Date    Open    High     Low   Close       Volume Adj Close
0    Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1    May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2    Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3    Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4    Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85
..            ...     ...     ...     ...     ...          ...       ...
135  Jan 01, 2016  109.00  122.18   90.11   91.84  488,193,200     91.84
136  Dec 01, 2015  124.47  133.27  113.85  114.38  319,939,200    114.38
137  Nov 01, 2015  109.20  126.60  101.86  123.33  320,321,800    123.33
138  Oct 01, 2015  102.91  115.83   96.26  108.38  446,204,400    108.38
139  Sep 01, 2015  109.35  111.24   93.55  103.26  497,401,200    103.26

[140 rows x 7 columns]

<h1>Extracting data using pandas library</h1>

In [12]:
read_html_pandas = pd.read_html(url)

In [13]:
read_html_pandas = pd.read_html(str(soup))

In [14]:
netflix_dataframe = read_html_pandas[0]

netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300